<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-learning App</title>
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-header">
        <h1>Welcome to LMS</h1>
      </div>
      <div class="email-body">
        <p>hello <%= user.name %></p>
        <p>
          Thank you for registering with QSP LEARNING app, to activate your
          account , please user the following activate code
        </p>
        <h2>Activation CODE: <%= activationCode %></h2>
        <p>NOTE: this activationCode is valid 5min only</p>
      </div>
    </div>
  </body>
</html>
