<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-learning App</title>
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-header">
        <h1>Welcome to LMS</h1>
      </div>
      <div class="email-body">
        <p>hello <%= name %></p>
        <p>
          a new replay has been added to your question in the video "<%= title
          %>
        </p>
        <p>
          please login to our website to view the replay and continue the
          discussion
        </p>
        <p>Thank you for being part of our community!</p>
      </div>
    </div>
  </body>
</html>
